/node_modules
/.next
/out
/build
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local
.env.prod

# prisma sqlite (dev)
/prisma/*.db
/prisma/*.db-journal
/prisma/*.db-shm
/prisma/*.db-wal

# vercel
.vercel

# claude code
.claude

# os
Thumbs.db
.DS_Store
